.image{
    background-color: rgb(57, 81, 68);
}
.container{
    text-align: center;
}
#forgot{
    color: rgb(57, 81, 68);
    text-align: start;

}
#create{
    text-align: center;
    
}
#head{
    font-weight:  bold;
}
